.suggestions {
    display: flex;
    margin-bottom: 255px;
  }
  
  .suggestion {
    font-size: 0.75rem;
    margin-left: 8px;
    margin-right: 2.5rem;
    color: white;
    font-weight: 700;
    background-color: transparent;
    border: none;
  }
  
  .suggestion > * {
    margin-right: 10px;
  }
  
  .suggestion:hover {
    cursor: pointer;
  }