.title-text{
    font-weight: 700;
    color: red;
    text-align: center;
    margin-top: 100px;
}

.cities{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.cities > *{
    margin-right: 25px;
    border: none;
    background-color: white;
    font-weight: 700;
}


.cities > *:hover{
    text-decoration: underline;
    cursor: pointer;
}