.fixedContainer {
    background-color:#ddd;
    position: fixed;
    width:250px;
    height: 900px;
    left:5.3%;
    top:19%;
    margin-left:-100px;
}

.displayContainer{
    margin-top: 200px;
    position: relative;
    left:5.3%;
    top:300px;
    overflow: hidden;
}

.map{
    position: fixed;
    width: 500px;
    height: 500px;
    right:2%;
    top:20%;
}