.fixedContainer {
    position: fixed;
    width:250px;
    height: 900px;
    left:4%;
    top:20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filter-category{
    margin-bottom:50px;
}

.mgtop{
    margin-bottom: 20px;
}